<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>5128796788203516</sid>
    <event-sheet>MenuEV</event-sheet>
    <size>
        <width>1708</width>
        <height>960</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="3002616416528647">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="UpperArm" uid="10">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>No</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>10</density>
                                <friction>1</friction>
                                <elasticity>0</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>584</x>
                        <y>274.75</y>
                        <z>0</z>
                        <width>88</width>
                        <height>33</height>
                        <depth>0</depth>
                        <hotspotX>0.511363626</hotspotX>
                        <hotspotY>0.515151501</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="LowerArm" uid="11">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>No</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>10</density>
                                <friction>0.5</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>452</x>
                        <y>271.75</y>
                        <z>0</z>
                        <width>77</width>
                        <height>31</height>
                        <depth>0</depth>
                        <hotspotX>0.506493509</hotspotX>
                        <hotspotY>0.516129017</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="ArmAnchor" uid="13">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>Yes</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>1</density>
                                <friction>0.5</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1027</x>
                        <y>-196.25</y>
                        <z>0</z>
                        <width>64</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Palm" uid="14">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>No</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>10</density>
                                <friction>0.5</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>349</x>
                        <y>265.75</y>
                        <z>0</z>
                        <width>37.675674438</width>
                        <height>17.54237175</height>
                        <depth>0</depth>
                        <hotspotX>0.509803951</hotspotX>
                        <hotspotY>0.521739125</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
